@font-face {
  font-family: 'Revamped';
  src: url('../Font/Revamped.otf') format("opentype");
}

@font-face {
  font-family: 'Shared-tech';
  src: url('../Font/ShareTech-Regular.ttf');
}

:root {
  --font: 'Revamped';
  --primary: #354CA0;
  --secondary: #FAF064;
  --accent: #AB8622;
  --btn: #6384F7;
  --blue-accent: #0728ad;
  --font-tech: 'Shared-tech';

}



body {
  font-family: 'Revamped' !important;
}

.logo {
  width: 350px;
  ;
}

.face_title {
  font-family: var(--font);
  font-weight: 100 !important;
  letter-spacing: 8px;
  font-size: 5rem;
}

.logo_title {
  width: 450px
}

.face-subtitle {
  font-family: var(--font-tech);
  text-transform: uppercase;
  font-size: 4rem;
  color: var(--secondary) !important;
}

#hero .btn-get-started {
  background: var(--primary);
  border: 2px solid var(--primary);
  color: #fff;
}

#hero .btn-get-started:hover {
  background: none;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-services {
  background: var(--accent);
  border: 2px solid var(--accent);
  color: white;
}

#hero .btn-services:hover {
  background: none;
  border: 2px solid #fff;
  color: #fff;
}

#header {
  background: #8FA7FF;
  padding: 20px 0;
  height: 90px;
}

.is-sticky #header {
  background: #8FA7FF;
}

.nav_logo {
  width: 110px;
}

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(99, 132, 247, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #03C4EB;
}

#mobile-nav ul .menu-item-active {
  color: #03C4EB;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

.welcome-home {
  margin-bottom: 3rem;
}

.nav-menu a:hover,
.nav-menu li:hover>a{
  border-bottom: var(--blue-accent) solid 3px;
color: white;

}

.nav-menu .menu-active>a {
  background-color: var(--blue-accent);
  color: white;

}

.section-title{
  font-family: var(--font);
  letter-spacing: 8px;
}
.section-description_nosotros{
  font-size: 3.5rem;
  text-align: center;
}
.about-text{
  font-family: var(--font-tech);
  font-size: 19px;
  text-align: justify;
}
.about-title_nosotros{
  font-family: var(--font-tech);
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}

/* ADVERTISERS SERVICE CARD */
.sec-icon {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0 auto;
}

.sec-icon::before {
  content: "";
  position: absolute;
  height: 1px;
  left: -70px;
  margin-top: -5.5px;
  top: 60%;
  background: #333333;
  width: 50px;
}

.sec-icon::after {
  content: "";
  position: absolute;
  height: 1px;
  right: -70px;
  margin-top: -5.5px;
  top: 60%;
  background: #333;
  width: 50px;
}

.advertisers-service-sec {
  background-color: #f5f5f5;
}

.advertisers-service-sec span {
  color: var(--blue-accent);
}

.advertisers-service-sec .col {
  padding: 0 1em 1em 1em;
  text-align: center;
}

.advertisers-service-sec .service-card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: #fff;
}

.advertisers-service-sec .service-card::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--blue-accent),var(--btn));
  position: absolute;
  left: 0%;
  top: -98%;
  z-index: -2;
  transition: all 0.4s cubic-bezier(0.77, -0.04, 0, 0.99);
}

.advertisers-service-sec h3 {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
  z-index: 3;
}

.advertisers-service-sec p {
  color: #575a7b;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  z-index: 3;
}

.advertisers-service-sec .icon-wrapper {
  background-color: #fff;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
  z-index: 3;
}
.advertisers-service-sec img {
  background-color: #fff;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
  z-index: 3;
}

.advertisers-service-sec .service-card:hover:after {
  top: 0%;
}

.service-card .icon-wrapper {
  background-color: #ffffff;

  color: rgb(255, 23, 131);
}

.advertisers-service-sec .service-card:hover .icon-wrapper {
  
  color: #0dcaf0;
}

.advertisers-service-sec .service-card:hover h3 {
  color: #ffffff;
}

.advertisers-service-sec .service-card:hover p {
  color: #f0f0f0;
}
/* ADVERTISERS SERVICE CARD ENDED */
.margen-top{
  margin-top: 1rem;
}

.fw-bold{
  font-family: var(--font-tech);
  font-weight: bold;
  text-transform: uppercase;
  font-size:3.5rem;
}
.h3_size{
  text-transform: uppercase !important;
  font-family: var(--font-tech);
  font-size: 2.5rem !important;
}
.p_size{
  font-family: var(--font-tech);
  font-size: 2rem !important;
  font-weight: bold;

}