@font-face {
    font-family: 'Revamped';
    src: url('../Font/Revamped.otf') format("opentype");
}

:root{
    --font:'Revamped';
    --primary:#354CA0;
    --secondary:#FAF064;
    --accent:#AB8622;
    --btn:#6384F7;

}



body {
    font-family: 'Revamped' !important;
}

.logo {
    width: 350px;
}

.face_title {
    font-family:var(--font);
    font-weight: 100 !important;
    letter-spacing: 8px;
}
.face-subtitle{
    font-family: var(--font);
    color:var(--secondary) !important;
}
#hero .btn-get-started {
    background: var(--primary);
    border: 2px solid var(--primary);
    color: #fff;
  }
  
  #hero .btn-get-started:hover {
    background: none;
    border: 2px solid #fff;
    color: #fff;
  }
  #hero .btn-services {
    background: var(--accent);
    border: 2px solid var(--accent);
    color: white;
  }
  
  #hero .btn-services:hover {
    background: none;
    border: 2px solid #fff;
    color: #fff;
  }

  #header {
    background: rgb(99, 132, 247,0.8);
    padding: 20px 0;
    height: 90px;
  }
  .is-sticky #header {
    background:rgb(99, 132, 247,0.8);
  }
  .nav_logo{
  width: 110px;  
  }

  #mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(99, 132, 247,0.9);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
  }
  
  #mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  #mobile-nav ul li {
    position: relative;
  }
  
  #mobile-nav ul li a {
    color: #fff;
    font-size: 16px;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
  }
  
  #mobile-nav ul li a:hover {
    color: #fff;
  }
  
  #mobile-nav ul li li {
    padding-left: 30px;
  }
  
  #mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
  }
  
  #mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #03C4EB;
  }
  
  #mobile-nav ul .menu-item-active {
    color: #03C4EB;
  }
  
  #mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    display: none;
  }